<%- include('partials/header') %>

<h2>Our Services</h2>
<ul>
  <li>Search Engine Optimization (SEO)</li>
  <li>Google Ads & Facebook Ads</li>
  <li>Social Media Marketing</li>
  <li>Website Optimization</li>
</ul>

<%- include('partials/footer') %>

